.button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: none;
  /* background: #60A5FA; */
  color: #222222;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #EAF4FF;
  scale : 1.1;
  transition: 0.2s;
}

.primary {
  background: white;
  color: black;
  border: none;
}
