.card {
  background: #EAF4FF;
  border: 1px solid #0d0d0e;
  border-radius: 12px;
  box-shadow:
    0 1px 2px rgba(0,0,0,0.04),
    0 4px 12px rgba(0,0,0,0.03);
  padding: 16px;
  height: 120px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
  position: relative;
  z-index: 1;
  min-width: 0;
  
}

.card:hover {
  border-color: #BFDBFE;
  transform: translateY(-10px);
  transition: 0.4s ease;
  z-index: 2;
  
}

.title {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 14px;
  opacity: 0.8;
}