.wrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.switcher {
  display: flex;
  background: #222;
  border-radius: 12px;
  overflow: hidden;
}

.button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: #aaa;
  transition: 0.2s;
  font-size: 16px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.active {
  background: #fff;
  color: #000;
}